html {
  scroll-behavior: smooth;
}
.mainContent {
  text-align: justify;
}

.pagination--nav {
  display: inline-block;
  width: 243px;
  float: left;
  display: inline;
  margin-left: 594px;
  background: gray;
}
.nav--mobile {
  display: inline-block;
}

.site--img,
.media-img,
.sitemap {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 10%;
}
.small_screen_button {
  display: none;
}
/* .mainContent--row {
  margin: 100px auto;
} */
.description {
  text-align: center;
  margin-top: 10px;
  margin: 80px auto;
}
.description--item {
  color: blue;
  background-color: whitesmoke;
  display: inline-block;
  width: 300px;
  font-weight: bold;
  font-size: 1.5em;
  justify-content: center;
}
@media (max-width: 926px) {
  .invisible__small_screen {
    display: none;
  }
  .small_screen_button {
    position: absolute;
    display: inline;
    margin: 190px auto;
  }
}
